<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galuh.wisatacilacap" >

    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Halamanutama"
            android:label="@string/title_activity_halamanutama" >
        </activity>
        <activity
            android:name=".Cilacap"
            android:label="@string/title_activity_cilacap" >
        </activity>
        <activity
            android:name=".Wisata"
            android:label="@string/title_activity_wisata" >
        </activity>
        <activity
            android:name=".Detailwisata"
            android:label="@string/title_activity_detailwisata" >
        </activity>
        <activity
            android:name=".Alam"
            android:label="@string/title_activity_alam" >
        </activity>
        <activity
            android:name=".Detailalam"
            android:label="@string/title_activity_detailalam" >
        </activity>
        <activity
            android:name=".Kuliner"
            android:label="@string/title_activity_kuliner" >
        </activity>
        <activity
            android:name=".Detailkuliner"
            android:label="@string/title_activity_detailkuliner" >
        </activity>
    </application>

</manifest>
